{% extends "common/index.html" %}
{% load static %}
{% block title %}Checkout{% endblock %}
{% block content %}

    <style>
        .field-error {
            font-size: 12px;
            font-weight: bold;
            color: red;
            margin-bottom: 0;
        }
    </style>
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'products' %}">Shop</a>
                    <span class="breadcrumb-item active">Checkout</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Checkout Start -->
    <div class="container-fluid">
        {% include 'shop/checkout' %}
    </div>
    <!-- Checkout End -->
{% endblock %}

{% block js %}
    <script>
        document.addEventListener('htmx:configRequest', function(event) {
            if (event.detail.elt.matches('form')) {
                const button = document.getElementById('submit-btn');
                button.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...';
                button.disabled = true;
            }
        });

        document.addEventListener('htmx:afterSwap', function(event) {
            const response = JSON.parse(event.detail.xhr.response);
            console.log(response)
            const button = document.getElementById('submit-btn');
            button.innerHTML = 'Place Order';
            button.disabled = false;
            payWithPaystack(response)
        });

        
        function payWithPaystack(resp) {
            let handler = PaystackPop.setup({

            key: resp.pubk, 

            email: resp.email,

            amount: resp.amount,

            ref: resp.tx_ref,

            onClose: function(){
                window.location.href = `/shop/orders/${resp.tx_ref}/update/?payment_status=CANCELLED`

            },

            callback: function(response){
                window.location.href = "/shop/orders/"
            }

            });

            handler.openIframe();

        }
    </script>
{% endblock %}